<meta charset="UTF-8">
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <link rel="stylesheet" href="/css/store/posPage.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <body>
<form action="/store/posPage">

    <!-- header -->
    <nav>
        <div class="nav-bar">
            <i class='bx bx-menu sidebarOpen' ></i>
            <span class="logo navLogo"><a href="#">POS for BizQR</a></span>
            <div class="menu">
                <div class="logo-toggle">
                    <span class="logo"><a href="#">CodingLab</a></span>
                    <i class='bx bx-x siderbarClose'></i>
                </div>
                <ul class="nav-links">
                    <li><a href="/">BizQR</a></li>
                    <li><a href="#">menu2</a></li>
                    <li><a href="#">menu3</a></li>
                    <li><a href="#">menu4</a></li>
                    <li><a href="#">menu5</a></li>
                </ul>
            </div>
            <div class="darkLight-searchBox">
                <div class="dark-light">
                    <i class='bx bx-moon moon'></i>
                    <i class='bx bx-sun sun'></i>
                </div>

            </div>
        </div>
    </nav>
    <!-- header end -->

    <!-- content -->
    <div class="card-container">
        <th:block th:each="tvo:${list}">
            <div class="card">
                <h3 class="blog-title" th:text="'Table' + ${tvo.tableId}"></h3>
                <p class="description">
                    메뉴:
                    <th:block th:each="order:${tvo.orderHistory}">
                        <span th:text="${order.menuName} + ' (' + ${order.menuAmount} + ')'"></span>
                    </th:block>
                </p>
                <div class="options">
                    <span th:text="'총 금액: ' + ${tvo.totalMoney} + '원'"></span>
                    <button class="btn">추가</button>
                </div>
            </div>
        </th:block>


<!--    <div class="card">-->
<!--        <h3 class="blog-title">Table 1</h3>-->
<!--        <p class="description">-->
<!--            메뉴: (개수)-->
<!--        </p>-->
<!--        <div class="options">-->
<!--    <span>-->
<!--      총 금액: 원-->
<!--    </span>-->
<!--            <button class="btn">추가</button>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="card">-->
<!--        <h3 class="blog-title">Table 2</h3>-->
<!--        <p class="description">-->
<!--            메뉴: (개수)-->
<!--        </p>-->
<!--        <div class="options">-->
<!--    <span>-->
<!--      총 금액: 원-->
<!--    </span>-->
<!--            <button class="btn">추가</button>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="card">-->
<!--        <h3 class="blog-title">Table 3</h3>-->
<!--        <p class="description">-->
<!--            메뉴: (개수)-->
<!--        </p>-->
<!--        <div class="options">-->
<!--    <span>-->
<!--      총 금액: 원-->
<!--    </span>-->
<!--            <button class="btn">추가</button>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="card">-->
<!--        <h3 class="blog-title">Table 4</h3>-->
<!--        <p class="description">-->
<!--            메뉴: (개수)-->
<!--        </p>-->
<!--        <div class="options">-->
<!--    <span>-->
<!--      총 금액: 원-->
<!--    </span>-->
<!--            <button class="btn">추가</button>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="card">-->
<!--        <h3 class="blog-title">Table 5</h3>-->
<!--        <p class="description">-->
<!--            메뉴: (개수)-->
<!--        </p>-->
<!--        <div class="options">-->
<!--    <span>-->
<!--      총 금액: 원-->
<!--    </span>-->
<!--            <button class="btn">추가</button>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="card">-->
<!--        <h3 class="blog-title">Table 6</h3>-->
<!--        <p class="description">-->
<!--            메뉴: (개수)-->
<!--        </p>-->
<!--        <div class="options">-->
<!--    <span>-->
<!--      총 금액: 원-->
<!--    </span>-->
<!--            <button class="btn">추가</button>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="card">-->
<!--        <h3 class="blog-title">Table 7</h3>-->
<!--        <p class="description">-->
<!--            메뉴: (개수)-->
<!--        </p>-->
<!--        <div class="options">-->
<!--    <span>-->
<!--      총 금액: 원-->
<!--    </span>-->
<!--            <button class="btn">추가</button>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="card">-->
<!--        <h3 class="blog-title">Table 8</h3>-->
<!--        <p class="description">-->
<!--            메뉴: (개수)-->
<!--        </p>-->
<!--        <div class="options">-->
<!--    <span>-->
<!--      총 금액: 원-->
<!--    </span>-->
<!--            <button class="btn">추가</button>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="card">-->
<!--        <h3 class="blog-title">Table 9</h3>-->
<!--        <p class="description">-->
<!--            메뉴: (개수)-->
<!--        </p>-->
<!--        <div class="options">-->
<!--    <span>-->
<!--      총 금액: 원-->
<!--    </span>-->
<!--            <button class="btn">추가</button>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="card">-->
<!--        <h3 class="blog-title">Table 10</h3>-->
<!--        <p class="description">-->
<!--            메뉴: (개수)-->
<!--        </p>-->
<!--        <div class="options">-->
<!--    <span>-->
<!--      총 금액: 원-->
<!--    </span>-->
<!--            <button class="btn">추가</button>-->
<!--        </div>-->
<!--    </div>-->

<!--        <div class="card">-->
<!--            <h3 class="blog-title">Table 11</h3>-->
<!--            <p class="description">-->
<!--                메뉴: (개수)-->
<!--            </p>-->
<!--            <div class="options">-->
<!--    <span>-->
<!--      총 금액: 원-->
<!--    </span>-->
<!--                <button class="btn">추가</button>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="card">-->
<!--            <h3 class="blog-title">Table 12</h3>-->
<!--            <p class="description">-->
<!--                메뉴: (개수)-->
<!--            </p>-->
<!--            <div class="options">-->
<!--    <span>-->
<!--      총 금액: 원-->
<!--    </span>-->
<!--                <button class="btn">추가</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- content end -->

</form>
<script src="/js/store/posPage.js"></script>
</body>
    </th:block>
</th:block>
</html>
