<html lang="kor" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <head>
            <link rel="stylesheet" th:href="@{/css/store/register.css}">
            <title>register</title>
        </head>
        <body>
            <div class="register">
                <div class="container">
                    <div class="title">Registeration</div>
                    <br>
                    <form action="/store/register" method="post">
                        <div class="user-details">
                            <div class="input-box">
                                <label for="name"><span class="details">대표자명</span></label>
                                <input type="text" name="name" id="name" placeholder="이름을 입력해주세요.." required>
                            </div>
                            <div class="input-box">
                                <label for="email"><span class="details">이메일</span></label>
                                <input type="email" name="email" id="email" th:value="${#authentication.name}" readonly>
                            </div>
                            <div class="input-box">
                                <label for="company"><span class="details">회사명</span></label>
                                <input type="text" name="company" id="company" placeholder="회사명을 입력해주세요.." required>
                            </div>
                            <div class="input-box">
                                <label for="storeName"><span class="details">점포명</span></label>
                                <input type="text" name="storeName" id="storeName" placeholder="점포명을 입력해주세요.." required>
                            </div>
                            <div class="input-box">
                                <label for="storeNumber"><span class="details">점포전화번호</span></label>
                                <input type="text" name="storeNumber" id="storeNumber" placeholder="점포번호를 입력해주세요.." required>
                            </div>
                            <div class="input-box">
                                <label for="ownerNum"><span class="details">대표자 전화번호</span></label>
                                <input type="text" name="ownerNum" id="ownerNum" placeholder="전화번호을 입력해주세요.." required>
                            </div>
                            <div class="input-box">
                                <label for="storeAddress"><span class="details">주소</span></label>
                                <input type="text" name="storeAddress" id="storeAddress" placeholder="주소를 입력해주세요.." required>
                            </div>
                        </div>
                        <div class="store-details">
                            <input type="radio" name="storeType" id="dot-1" value="Cafe">
                            <input type="radio" name="storeType" id="dot-2" value="Restaurant">
                            <input type="radio" name="storeType" id="dot-3" value="Hotel">
                            <input type="radio" name="storeType" id="dot-4" value="Etc.">
                            <span class="store-title">업종선택</span>
                            <div class="category">
                                <label for="dot-1">
                                    <span class="dot one"></span>
                                    <span class="storeType" th:value="cafe" id="cafe">Cafe</span>
                                </label>
                                <label for="dot-2">
                                    <span class="dot two"></span>
                                    <span class="storeType" th:value="restaurant" id="restaurant">Restaurant</span>
                                </label>
                                <label for="dot-3">
                                    <span class="dot three"></span>
                                    <span class="storeType" th:value="hotel" id="hotel">Hotel</span>
                                </label>
                                <label for="dot-4">
                                    <span class="dot four"></span>
                                    <span class="storeType" th:value="etc" id="etc">Etc.</span>
                                </label>
                            </div>
                        </div>
                        <div class="store-details">
                            <input type="radio" name="paymentType" id="payment1" value="monthly">
                            <input type="radio" name="paymentType" id="payment2" value="yearly">
                            <span class="store-title">구독 선택</span>
                            <div class="category">
                                <label for="payment1">
                                    <span class="dot month"></span>
                                    <span class="paymentType" th:value="monthly" id="monthly">9900원 한달 구독</span>
                                </label>
                                <label for="payment2">
                                    <span class="dot year"></span>
                                    <span class="paymentType" th:value="yearly" id="yearly">99000원 일년 구독</span>
                                </label>
                            </div>
                        </div>
                        <div class="button">
                            <input type="submit" value="Register">
                        </div>
                    </form>
                </div>
            </div>
        </body>
    </th:block>
</th:block>
