<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.bizqr.customer.repository.OrderMapper">
    <insert id="basket">
        INSERT INTO `order_items` (menu_id, store_id, table_id, menu_name, menu_price, menu_amount) VALUES
        (#{menuId}, #{storeId}, #{tableId}, #{menuName}, #{menuPrice}, #{menuAmount})
    </insert>

    <update id="basketUpdate">
        UPDATE `order_items` SET menu_amount = #{menuAmount} WHERE menu_id = #{menuId} AND store_id = #{storeId} AND table_id = #{tableId}
    </update>

    <select id="basketList" resultType="ezen.bizqr.customer.domain.OrderItemVO">
        SELECT * FROM `order_items` WHERE table_id = #{tableId} AND store_id = #{storeId}
    </select>

    <insert id="order">
        INSERT INTO `order` (order_id, table_id, store_id, order_status, total_price, user_request) VALUES
        (#{orderId}, #{tableId}, #{storeId}, '1', #{totalPrice}, #{userRequest})
    </insert>

    <insert id="insertOrderHistory">
        INSERT INTO `order_history` (order_id, table_id, store_id, menu_id, menu_name, menu_price, menu_amount, total_price, order_status, user_request) VALUES
        (#{ovo.orderId}, #{oivo.tableId}, #{oivo.storeId}, #{oivo.menuId}, #{oivo.menuName}, #{oivo.menuPrice}, #{oivo.menuAmount}, #{ovo.totalPrice}, '1', #{ovo.userRequest})
    </insert>

    <delete id="deleteOrderBasket">
        DELETE FROM `order_items` WHERE table_id = #{tableId} AND store_id = #{storeId}
    </delete>

    <select id="basketCount" resultType="int">
        SELECT COUNT(*) FROM `order_items` WHERE table_id = #{tableId} AND store_id = #{storeId}
    </select>

    <select id="itemList" resultType="ezen.bizqr.customer.domain.ItemVO">
        SELECT * FROM `menu_item` WHERE store_id = #{storeId} AND tab_name = #{tabName}
    </select>

    <select id="tabList" resultType="String">
        SELECT DISTINCT tab_name FROM `menu_item` WHERE store_id = #{storeId}
    </select>

    <delete id="basketDel">
        DELETE FROM `order_items` WHERE menu_id = #{menuId} AND table_id = #{tableId} AND store_id = #{storeId}
    </delete>

    <select id="menuPrice" resultType="ezen.bizqr.customer.domain.OrderItemVO">
        SELECT * FROM `order_items` WHERE store_id = #{storeId} AND table_id = #{tableId}
    </select>

    <select id="orderHistory" resultType="ezen.bizqr.customer.domain.OrderHistoryVO">
        SELECT * FROM `order_history` WHERE store_id = #{storeId} AND table_id = #{tableId} AND order_id = #{orderId} AND order_status = '1';
    </select>

    <select id="orderHistoryOrderId" resultType="String">
        SELECT DISTINCT order_id FROM `order_history` WHERE store_id = #{storeId} AND table_id = #{tableId} AND order_status = '1';
    </select>
</mapper>