<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.bizqr.store.repository.StoreMapper">

    <insert id="storeRegister">
        insert into register
        (name, email, company, store_name, store_address, store_type, owner_num, store_num, subscribe, paid_time, merchant_uid)
        values(#{name}, #{email}, #{company}, #{storeName}, #{storeAddress}, #{storeType}, #{ownerNum}, #{storeNum}, #{subscribe}, #{paidTime}, #{merchantUid})
    </insert>
    <insert id="menuInsert">
        insert into menu_item
        (store_id, tab_name, menu_name, menu_price)
        values(#{storeId}, #{tabName}, #{menuName}, #{menuPrice})
    </insert>

    <select id="getDetail" resultType="ezen.bizqr.store.domain.RegisterVO">
        select * from register where register_num = #{registerNum}
    </select>

    <select id="selectEmail" resultType="ezen.bizqr.store.domain.StoreVO">
        select * from store where email = #{userEmail}
    </select>

    <insert id="insertStore">
        insert into store
        (email, register_num, store_name, store_address, store_number, store_type, company)
        values(#{email}, #{registerNum}, #{storeName}, #{storeAddress}, #{storeNumber}, #{storeType}, #{company})
    </insert>

    <select id="getMenuId" resultType="long">
        select max(menu_id) from menu_item
    </select>

    <select id="getDetailFromStore" resultType="ezen.bizqr.store.domain.StoreVO">
        select * from store where store_id = #{storeId}
    </select>

    <select id="getRegisterList" resultType="ezen.bizqr.store.domain.RegisterVO">
        select * from register
    </select>

    <update id="updateStore">
    UPDATE store
    SET
    email = #{email},
    store_name = #{storeName},
    store_address = #{storeAddress},
    store_number = #{storeNumber},
    store_hours = #{storeHours},
    store_type = #{storeType},
    company = #{company},
    logo_image = #{logoImage}
    WHERE
    store_id = #{storeId};
    </update>
    <select id="getStoreList" resultType="ezen.bizqr.store.domain.StoreVO">
        select * from store;
    </select>

    <update id="alterRegisterInfo">
        update register set isRegistered = #{isRegistered} where register_num = #{registerNum}
    </update>

    <select id="getStoreListByType" resultType="ezen.bizqr.store.domain.StoreVO" >
        select * from store where store_type = #{storeType}
    </select>
    <insert id="insertTable">
        insert into tables
        (table_id, store_id)
        values(#{tableId}, #{storeId})
    </insert>

    <select id="getTablesList" resultType="ezen.bizqr.store.domain.TablesVO" >
        select * from tables where store_id = #{storeId}
    </select>

    <select id="getTableOrderHistory" resultType="ezen.bizqr.store.domain.OrderHistoryVO" >
        select * from order_history where table_id = #{tableId} and store_id = #{storeId}
    </select>

    <insert id="saveTablePay">
        insert into table_pay_history values(#{impUid}, #{merchantUid}, #{storeId}, #{tableId}, #{totalPrice}, #{paidTime})
    </insert>

    <delete id="deleteTableOrderHistory">
        delete from order_history where store_id = #{storeId} and table_id = #{combinedTableId}
    </delete>

</mapper>