@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

a{
    text-decoration:  none;
    color: #000;
}

img{
    object-fit: cover;
}

body{
    background-color: #ffffff;
}

nav{
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;

}

nav a.logo{
    font-size: 33px;
    color: #0f2182;
    font-weight: 900;
}

nav .links a:not(:last-child){
    margin-right: 20px;
}

nav .login button{
    padding: 8px 14px;
    border: none;
    cursor: pointer;
    background-color: transparent;

}

nav  .login button.signup{
    background-color: #000;
    color:#fff;
    border-radius: 4px;
    margin-right: 14px;
}

header{
    padding: 0 80px;
    height: calc(30vh - 80px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .left{
    width: 700px;
}

header .left h1{
    font-size: 80px;
}


header .left h1 span{
    color: #0f2182;
}

header .left p{
    margin: 40px 0;
    color: #777;

}
header .left a{
    display: flex;
    align-items: center;
    background: #000;
    width: 200px;
    padding: 8px;
    border-radius: 60px;

}
header .left a i{
 background-color: #fff;
 font-size : 24px;
 border-radius:  50%;
 padding: 9px;
}

header .left a span{
    color: #fff;
    margin-left: 10px;
}

header img{
    width: 600px;
}

h2 .separator{
    padding: 0 80px;
    font-size: 40px;
    margin-top: 40px;
    color: #fff;
}
h2.separator{
    padding: 0 80px;
    font-size: 40px;
    margin-top: 40px;
}

.store{
    padding: 0 80px;
    margin: 50px 0 80px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.store .item,
.nft-shop .nft-list .item{
    padding: 20px;
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.store .item:hover,
.nft-shop .nft-list .item:hover,
.sellers .item:hover{
    box-shadow: none;
}

.store .item .header{
    display: flex;
    align-items: center;
    gap: 10px;
}

.store .item .header i{
    font-size: 40px;
}

.store .item .header h5{
    font-size: 17px;
}

.store .item p{
    margin-top: 10px;
    padding: 0 4px;
}