@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


#listBtn{
    padding: 10px 15px;
    width: 100px;
    color: #fff;
    border-radius: 2px;
    border: none;
    background-color: #e4e4e4;
}

#modBtn{
    padding: 10px 15px;
    width: 100px;
    color: #fff;
    border-radius: 2px;
    border: none;
    background-color: #2c87e8;
}

#delBtn{
    padding: 10px 15px;
    width: 100px;
    color: #fff;
    border-radius: 2px;
    border: none;
    background-color: #e4e4e4;
}

.btnAll{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 150px;
}