*{
    list-style: none;
}

.container-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cmtText{
    background-color: #FFFFFF;
    width: 600px;
    height: 50px;
}

#cmtWriter{
    position: relative;
    font-size: 15px;
    font-weight: bold;
    top: -30px;
    left: 130px;
}

#cmtEmail{
    position: relative;
    font-size: 13px;
    top: -45px;
    left: 132px;
}

#cmtPostBtn{
    position: relative;
    top: -50px;
    right: 85px;
    width: 80px;
    height: 30px;
    color: #ffffff;
    border:none;
    border-radius: 2px;
    background-color: #2c87e8;
    justify-items: center;
}

.fw-bold{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 65px;
}

.modAtSp{
    font-size: 13px;
    margin-left: 65px;
}

.ctt{
    font-size: 15px;
    margin-top: 20px;
    margin-left: 65px;
    width: 600px;
    height: 30px;
}

.mod{
    position: relative;
    right: -490px;
    width: 80px;
    height: 30px;
    color: #ffffff;
    border:none;
    border-radius: 2px;
    background-color: #2c87e8;
}

.del{
    position: relative;
    right: -500px;
    width: 80px;
    height: 30px;
    color: #ffffff;
    border:none;
    border-radius: 2px;
    background-color: rgba(131, 131, 131, 0.18);
}

#moreBtn{
    position: relative;
    width: 80px;
    height: 30px;
    color: #000000;
    border:none;
    border-radius: 2px;
    background-color: rgba(131, 131, 131, 0.18);
    margin-top: 100px;
    margin-bottom: 150px;
}




