<meta charset="UTF-8">
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
            <link rel="stylesheet" href="/css/boardRegister.css" />
        <body>
        <section class="container">
            <header>notice register page....</header>
            <form action="/board/register" class="form" method="post" enctype="multipart/form-data">
                <div class="input-box">
                    <label for="title">Title : </label>
                    <input type="text" class="form-control" id="title" placeholder="Enter Title"
                           name="title" required />
                </div>

                <div class="input-box">
                    <label for="email">Writer : </label>
                    <input type="text" class="form-control" id="email" placeholder="writer"
                           name="email" required />
                </div>

                <div class="input-box address">
                    <label for="content">content</label>
                    <textarea name="content" id="content"
                              cols="100" rows="5" class="form-control">
				</textarea>

                    <!-- file upload -->
                    <div class="fileContainer">
                        <input type="file" id="file-input" name="files" multiple />
                        <label for="file-input">
                            <i class="fa-solid fa-arrow-up-from-bracket"></i>
                            Choose Files To Upload
                        </label>
                        <div id="num-of-files">No Files Selected</div>
                        <ul id="files-list"></ul>
                    </div>


                </div>
                <button type="submit">Submit</button>
                <a href="/board/list"><button type="button">Cancel</button></a>

            </form>
        </section>
        <script src="/js/boardRegister2.js"></script>
        </body>
    </th:block>
</th:block>

</html>