<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setFragment(content)">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scaleable=no, viewport-fit=cover">
<meta name="format-detection" content="telephone=no">
    <title>Title</title>

    <style>
        @import url(/css/customer/reset.css);
        @import url(/css/customer/customerLayout.css);
    </style>
</head>

    <header>

<!--        <div class="backBtn" id="backBtn">-->
<!--            <a href="/customer/customerIndex" class="backLink">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" style="color: white" width="35" height="35" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">-->
<!--                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>-->
<!--                </svg>-->
<!--            </a>-->
<!--        </div>-->

        <!-- 상호 -->
        <div class="company-name" id="company-name">BizQR</div>

        <nav class="tool-container">
            <!-- 호출 아이콘 -->
            <div>
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" style="color: white; margin: 20% 10px 0 0;" width="30" height="30" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                    </svg>
                </a>
            </div>
            <div>
                <!-- 리스트 아이콘 -->
                <svg xmlns="http://www.w3.org/2000/svg" style="color: white; margin: 5% 5px 0 0;" width="40" height="40" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </div>
        </nav>

    </header>

    <div class="fill-box"></div>

    <th:block th:replace="${content}">
    </th:block>

    <script src="/js/customer/customerLayout.js"></script>
</th:block>

</html>
