
<html lang="kor" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="setFragment(content)">
  <head>
    <meta charset="UTF-8">
    <title>Spring Boot Practice</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>

  <body>
  <nav>
    <a href="#" class="logo">BizQR</a>
    <div class="links">
      <a href="/">Home</a>
      <a href="/store/register">가입하기</a>
      <a href="#">Blog</a>
      <a href="/board/service">About Us</a>
    </div>
    <div class="login">
      <button class="signup">Get Started</button>
      <a href="/user/login"><button type="button">Login</button></a>
      <a href="/user/logout"><button type="button">Logout</button></a>
      <a href="/user/modify"><button type="button">Modify</button></a>
      <li class="nav-item" sec:authorize="isAuthenticated()">
        <a class="nav-link" th:href="@{/user/modify}" th:text="${#authentication.name}"></a>
<!--        <a class="nav-link"-->
<!--          th:with="auth=${#authentication.getPrincipal()}"-->
<!--           th:text="${auth.uvo.nickName}"></a>-->
      </li>
<!--      <a class="nav-link" th:href="@{/user/modify}" th:text="${#authentication.name}"></a>-->
    </div>
  </nav>

  <div class="container-fluid">
    <th:block th:replace="${content}"></th:block>
  </div>
  <footer>
    <h3>내 손 안의 메뉴판! BizQR</h3>
    <div class="right">
      <div class="links">
        <a href="#">Privacy Policy</a>
        <a href="#">Cooperation</a>
        <a href="#">Sponsorship</a>
        <a href="#">Contact Us</a>
      </div>
      <div class="social">
        <i class='bx bxl-instagram'></i>
        <i class='bx bxl-facebook-square'></i>
        <i class='bx bxl-github'></i>
      </div>
      <p>Copyright © 2024 BizQR, All Rights Reserved.</p>
    </div>
  </footer>

  </body>
</th:block>


</html>