
<html lang="kor" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="setFragment(content)">
<head>
<meta charset="UTF-8">
<title>Spring Boot Practice</title>

<link rel="stylesheet" th:href="@{/css/style.css}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<nav>
  <a href="#" class="logo">BizQR</a>
  <div class="links">
    <a href="#">Home</a>
    <a href="#">Features</a>
    <a href="#">Blog</a>
    <a href="#">About Us</a>
  </div>
  <div class="login">
    <button class="signup">Get Started</button>
    <a href="/user/login"><button>Login</button></a>
  </div>
</nav>

<div class="container-fluid">
	<th:block th:replace="${content}"></th:block>
</div>

<div class="mt-4 p-5 bg-light text-black rounded text-center text-center" style="margin-bottom:0">
  <p>Copyright 2021 by Company or Your Name. All Rights Reserved.</p>
</div>
<!--	<script>
	console.log("hi");
    document.getElementById("logoutLink").addEventListener('click', (e)=>{
        e.preventDefault();
        document.getElementById('logoutForm').submit(); 
    });
		
	</script>-->
</body>
</th:block>


</html>