<meta charset="UTF-8">
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
  <th:block th:fragment="content">
    <link rel="stylesheet" href="/css/info/contactUs.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <body>

  <div id="wrap">
    <div id="headers">
      <h3 class="title">BizQR 고객센터</h3>
      <hr class="title-hr">
    </div>
    <!-- headers -->

  <div id="image-div">
    <img src="/image/test1.png" alt="img" >
  </div>

    <!-- img -->
    <div class="contents">
      <section class="p-sec"><p class="bizqr-p">BizQR 고객센터<br>주요기능 TOP3</p></section>
      <section class="sec-class">
        <div class="sec1">
          <span class="material-symbols-outlined" style="font-size: 40px">person_check</span>
        </div>
        <div class="p-title">
          <p class="title-p">간편한 회원가입</p>
          <small class="p-small">
            모바일에서 인증(SMS,아이핀)을<br>통해 회원가입 및 고객 인증<br>처리를 한꺼번에!
          </small>
        </div>
      </section>

      <section id="sec2">
        <div class="sec2">
          <span class="material-symbols-outlined" style="font-size: 40px">security_update_good</span>
        </div>
        <div class="p-title">
          <p class="title-p">조회부터 추가까지</p>
          <small class="p-small">
            테이블 조회 이후 즉시 메뉴 추가를 통해<br>직접 선택이 가능합니다.
          </small>
        </div>
      </section>

      <section id="sec3">
        <div class="sec3">
          <span class="material-symbols-outlined" style="font-size: 40px">approval_delegation</span>
        </div>
        <div class="p-title">
          <p class="title-p">1:1 실시간 상담문의</p>
          <small class="p-small">
            모바일을 통해 언제서든<br>1:1 상담문의가 가능하며<br>답변도 확인 가능합니다.
          </small>
        </div>
      </section>
    </div>

    <hr class="content-hr">

    <div id="container">
      <aside class="a-aside">A</aside>
      <section class="sec-a">
        <div class="item b-1"><span></span><p>자주 찾는 메뉴 한눈에!</p>
          <small>요금정보 및 내가 이용하는 상품 등<br>자주 쓰는 바로가기 메뉴 구성</small>
        </div>
        <div class="item b-2">B-2</div>
        <div class="item c-1">C-1</div>
        <div class="item c-2">C-2</div>
      </section>
    </div>





    <hr class="content-hr">

    <div class="contents">
      <section class="p-sec"><p class="bizqr-p">BizQR 고객센터<br>주요기능 TOP3</p></section>
      <section class="sec-class">
        <div class="sec1">
          <span class="material-symbols-outlined" style="font-size: 40px">person_check</span>
        </div>
        <div class="p-title">
          <p class="title-p">간편한 회원가입</p>
          <small class="p-small">
            모바일에서 인증(SMS,아이핀)을<br>통해 회원가입 및 고객 인증<br>처리를 한꺼번에!
          </small>
        </div>
      </section>

      <section id="sec2">
        <div class="sec2">
          <span class="material-symbols-outlined" style="font-size: 40px">security_update_good</span>
        </div>
        <div class="p-title">
          <p class="title-p">조회부터 추가까지</p>
          <small class="p-small">
            테이블 조회 이후 즉시 메뉴 추가를 통해<br>직접 선택이 가능합니다.
          </small>
        </div>
      </section>

      <section id="sec3">
        <div class="sec3">
          <span class="material-symbols-outlined" style="font-size: 40px">approval_delegation</span>
        </div>
        <div class="p-title">
          <p class="title-p">1:1 실시간 상담문의</p>
          <small class="p-small">
            모바일을 통해 언제서든<br>1:1 상담문의가 가능하며<br>답변도 확인 가능합니다.
          </small>
        </div>
      </section>
    </div>
  </div>
</body>
  </th:block>
</th:block>
</html>