<meta charset="UTF-8">
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <link rel="stylesheet" href="/css/info/service.css" />
        <form action="/board/service">
            <header>Service</header>
            <hr>
            <p>Our working method practices a simultaneous exploration of<br>
            traditional handicraft and cutting edge digital technology - a<br>
            complementary relationship that drives our creative process.</p>
            <a href="" STYLE="text-decoration: underline;">CONTACT US</a>
            <IMG src="">
            <h1>Start a project?</h1>
            <a href="" style="text-decoration: underline;">CONTACT US →</a>

            <h1>Our team</h1>
            <hr>
            <div>
                <img src="">
                <label></label>
                <p></p>
                <img src="">
                <label></label>
                <p></p>
                <img src="">
                <label></label>
                <p></p>
            </div>
            <div>
                <img src="">
                <label></label>
                <p></p>
                <img src="">
                <label></label>
                <p></p>
                <img src="">
                <label></label>
                <p></p>
            </div>
            <hr>
            <a href="" style="text-decoration: underline;">SHOW ALL</a>



        </form>
    </th:block>
</th:block>
</html>
