<meta charset="UTF-8">
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <link rel="stylesheet" href="/css/info/service.css" />
        <form action="/board/service">

            <section id="services" class="services">
                <div class="container" data-aos="fade-up">

                    <div class="section-title">
                        <h2>Services</h2>
                        <h3>Check our <span>Services</span></h3>
                        <p>BizQR에 대한 설명이 들어갔으면 좋겠습니다.</p>
                    </div>

            <!-- slide -->
                    <div id="slider">
                        <div class="slides">
                            <div class="slider">
                                <div class="legend"></div>
                                <div class="content">
                                    <div class="content-txt">
                                        <h1>제목1</h1>
                                        <h2>설명1</h2>
                                    </div>
                                </div>
                                <div class="image">
                                    <img src="https://cdn.stocksnap.io/img-thumbs/960w/VVHE6VHMAW.jpg">
                                </div>
                            </div>
                            <div class="slider">
                                <div class="legend"></div>
                                <div class="content">
                                    <div class="content-txt">
                                        <h1>제목2</h1>
                                        <h2>설명2</h2>
                                    </div>
                                </div>
                                <div class="image">
                                    <img src="https://cdn.stocksnap.io/img-thumbs/960w/AKWVXIXFA8.jpg">
                                </div>
                            </div>
                            <div class="slider">
                                <div class="legend"></div>
                                <div class="content">
                                    <div class="content-txt">
                                        <h1>제목3</h1>
                                        <h2>설명3</h2>
                                    </div>
                                </div>
                                <div class="image">
                                    <img src="https://cdn.stocksnap.io/img-thumbs/960w/TPLJK7JPRR.jpg">
                                </div>
                            </div>
                            <div class="slider">
                                <div class="legend"></div>
                                <div class="content">
                                    <div class="content-txt">
                                        <h1>제목4</h1>
                                        <h2>설명4</h2>
                                    </div>
                                </div>
                                <div class="image">
                                    <img src="https://cdn.stocksnap.io/img-thumbs/960w/XJ2BKV9ASS.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="switch">
                            <ul>
                                <li>
                                    <div class="on"></div>
                                </li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <!-- slide end -->

                    <div id="allBtn">
                    <a href=""><button type="button" class="CASE">SUBMIT YOUR CASE →</button></a>
                    <a href=""><button type="button" class="APPOINTMENT">MAKE AN APPOINTMENT →</button></a>
                    </div>


                    <!-- comment -->
                    <div id="textDiv">
                    <div class="p_small">
                    <p>Upon the growing need<br>and interest in Portugal,<br>
                        <small>and unlike past centuries where the Potuguese<br>would visit the other countries,</small>
                    </p>
                    </div>

                    <div class="small2">
                    <small>we are not being visited for so many reasons by all other<br>
                    nations in the world. This made our country grow the need for<br>
                    specialized services to prepare, analyse, advice and follow all<br>
                    the needs of the clients regarding this area of law regardless of<br>
                    the purpose of interest. It has been shown that all clients that<br>
                    use the legal services are much better prepared and get im-<br>
                    proved results from their processes.
                    </small>
                    </div>
                    </div>

                    <!-- card zone -->
                    <div class="row">
                        <div class="">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                                <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                            </div>
                        </div>

                        <div class="">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon"><i class="bx bx-file"></i></div>
                                <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                                <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                            </div>
                        </div>

                        <div class="">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                                <div class="icon"><i class="bx bx-tachometer"></i></div>
                                <h4 class="title"><a href="">Magni Dolores</a></h4>
                                <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                                <div class="icon"><i class="bx bx-world"></i></div>
                                <h4 class="title"><a href="">Nemo Enim</a></h4>
                                <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-slideshow"></i></div>
                                <h4><a href="">Dele cardo</a></h4>
                                <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-arch"></i></div>
                                <h4><a href="">Divera don</a></h4>
                                <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                            </div>
                        </div>
                    </div>
                    <!-- card zone -->
                </div>
            </section>
        </form>
    </th:block>
</th:block>
</html>
