<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/adminStyle.css}">
    <title>Responsive Dashboard Design</title></head>

<body>

<div class="container">
    <!-- Sidebar Section -->
    <aside>
        <div class="toggle">
            <div class="logo">
                <img class="order" src="/asset/큐오더_원형.png">
                <h2>Phon <span class="BizQR">BizQR</span></h2>
            </div>
            <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
            </div>
        </div>

        <div class="sidebar">
            <a th:href="@{/admin/index}">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                <h3>Dashboard</h3>
            </a>
            <a th:href="@{/user/list}">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                <h3>Users</h3>
            </a>
            <a th:href="@{/admin/adminRegisterList}" class="active">
                    <span class="material-icons-sharp">
                        receipt_long
                    </span>
                <h3>RegisterList</h3>
            </a>
            <a th:href="@{/admin/adminStatistics}">
                    <span class="material-icons-sharp">
                        insights
                    </span>
                <h3>Analytics</h3>
            </a>
            <a href="#">
                    <span class="material-icons-sharp">
                        mail_outline
                    </span>
                <h3>Tickets</h3>
                <span class="message-count">27</span>
            </a>
            <a href="#">
                    <span class="material-icons-sharp">
                        inventory
                    </span>
                <h3>Sale List</h3>
            </a>
            <a href="#">
                    <span class="material-icons-sharp">
                        report_gmailerrorred
                    </span>
                <h3>Reports</h3>
            </a>
            <a href="#">
                    <span class="material-icons-sharp">
                        settings
                    </span>
                <h3>Settings</h3>
            </a>
            <a href="#">
                    <span class="material-icons-sharp">
                        add
                    </span>
                <h3>New Login</h3>
            </a>
            <a href="#">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                <h3>Logout</h3>
            </a>
        </div>
    </aside>
    <!-- End of Sidebar Section -->

    <!-- Main Content -->
    <main>
        <h1>Admin Register List</h1>


        <!-- Recent Orders Table -->
        <div class="recent-orders">
            <h2>Admin Register List</h2>
            <table>
                <thead>
                <tr>
                    <th scope="col">가입번호</th>
                    <th scope="col">이름</th>
                    <th scope="col">이메일</th>
                    <th scope="col">회사명</th>
                    <th scope="col">점포명</th>
                    <th scope="col">점포 전화번호</th>
                    <th scope="col">개인 전화번호</th>
                    <th scope="col">주소</th>
                    <th scope="col">업종</th>
                    <th scope="col">결제일</th>
                    <th scope="col">번호</th>
                    <th scope="col">상태</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rvo:${list }">
                    <td th:text="${rvo.registerNum}">Register Num</td>
                    <td th:text="${rvo.name}">Name</td>
                    <td th:text="${rvo.email}">Email</td>
                    <td th:text="${rvo.company}">Company</td>
                    <td th:text="${rvo.storeName}">Store Name</td>
                    <td th:text="${rvo.storeAddress}">Store Address</td>
                    <td th:text="${rvo.ownerNum}">Owner Number</td>
                    <td th:text="${rvo.storeNum}">Store Number</td>
                    <td th:class="${rvo.storeType == 'Cafe'} ? 'warning' : (${rvo.storeType == 'Restaurant'} ? 'success' : (${rvo.storeType == 'Hotel'} ? 'primary' : 'danger'))" th:text="${rvo.storeType}">Store Type</td>
                    <td th:text="${rvo.paidTime}">Paid Time</td>
                    <td th:text="${rvo.merchantUid}">Merchant Uid</td>
                    <th:block th:switch="${rvo.isRegistered}">
                        <th:block th:case="0">
                            <td>
                                <button th:attr="data-rnum=${rvo.registerNum}, data-merchantUid=${rvo.merchantUid}" class="btn app" type="button" value="1">승인</button>
                                <button th:attr="data-rnum=${rvo.registerNum}, data-merchantUid=${rvo.merchantUid}" class="btn ref" type="button" value="2">거절</button>
                            </td>
                        </th:block>
                        <th:block th:case="1">
                            <td>승인완료</td>
                        </th:block>
                        <th:block th:case="2">
                            <td>승인거절</td>
                        </th:block>
                    </th:block>
                </tr>
                </tbody>
            </table>
            <button type="button" id="refund">환불</button>
        </div>
        <!-- End of Recent Orders -->

    </main>
    <!-- End of Main Content -->

    <!-- Right Section -->
    <div class="right-section">
        <div class="nav">
            <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
            </button>
            <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                <span class="material-icons-sharp">
                        dark_mode
                    </span>
            </div>

            <div class="profile">
                <div class="info">
                    <p>Hey, <b>Reza</b></p>
                    <small class="text-muted">Admin</small>
                </div>
                <div class="profile-photo">
                    <img src="/asset/관리자로고.png">
                </div>
            </div>

        </div>
        <!-- End of Nav -->

        <div class="user-profile">
            <div class="logo">
                <img src="/asset/큐오더_원형.png">
                <h2>BizQR</h2>
                <p>내 핸드폰의 메뉴판</p>
            </div>
        </div>

        <div class="reminders">
            <div class="header">
                <h2>Reminders</h2>
                <span class="material-icons-sharp">
                        notifications_none
                    </span>
            </div>

            <div class="notification">
                <div class="icon">
                        <span class="material-icons-sharp">
                            volume_up
                        </span>
                </div>
                <div class="content">
                    <div class="info">
                        <h3>Workshop</h3>
                        <small class="text_muted">
                            08:00 AM - 12:00 PM
                        </small>
                    </div>
                    <span class="material-icons-sharp">
                            more_vert
                        </span>
                </div>
            </div>

            <div class="notification deactive">
                <div class="icon">
                        <span class="material-icons-sharp">
                            edit
                        </span>
                </div>
                <div class="content">
                    <div class="info">
                        <h3>Workshop</h3>
                        <small class="text_muted">
                            08:00 AM - 12:00 PM
                        </small>
                    </div>
                    <span class="material-icons-sharp">
                            more_vert
                        </span>
                </div>
            </div>

            <div class="notification add-reminder">
                <div>
                        <span class="material-icons-sharp">
                            add
                        </span>
                    <h3>Add Reminder</h3>
                </div>
            </div>

        </div>

    </div>

</div>

<script type="text/javascript">
    console.log("admin index in~~!!");

    const sideMenu = document.querySelector('aside');
    const menuBtn = document.getElementById('menu-btn');
    const closeBtn = document.getElementById('close-btn');

    const darkMode = document.querySelector('.dark-mode');

    menuBtn.addEventListener('click', () => {
        sideMenu.style.display = 'block';
    });

    closeBtn.addEventListener('click', () => {
        sideMenu.style.display = 'none';
    });

    darkMode.addEventListener('click', () => {
        document.body.classList.toggle('dark-mode-variables');
        darkMode.querySelector('span:nth-child(1)').classList.toggle('active');
        darkMode.querySelector('span:nth-child(2)').classList.toggle('active');
    })

    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.app, .ref').forEach(button => {
            button.addEventListener('click', async function() {
                const registerNum = button.dataset.rnum;
                console.log(registerNum);

                const isRegistered = button.value;

                if(button.classList.contains('app')){
                    try {
                        alterRegisterInfo(registerNum, isRegistered).then(result =>{
                            if(result === '0'){
                                console.log('승인 완료.');
                                const td = button.closest('td'); // 클릭된 버튼이 포함된 td 요소를 찾음
                                if (isRegistered === '1') {
                                    td.innerHTML = '승인완료'; // 승인 버튼 클릭 시 '승인완료' 텍스트로 변경
                                } else if (isRegistered === '2') {
                                    td.innerHTML = '승인거절'; // 거절 버튼 클릭 시 '승인거절' 텍스트로 변경
                                }
                            }
                        })
                    }catch (error){
                        console.log(error);
                    }
                }

                if(button.classList.contains('ref')){
                    try {
                        try {
                            const result = await getToken();
                            const accessToken = result.response.access_token;
                            console.log(accessToken);

                            if(accessToken != null){
                                try {
                                    const cancelresult = await cancelMoney(registerNum, accessToken);
                                    console.log(cancelresult);

                                    if (cancelresult.code === 0) {
                                        alterRegisterInfo(registerNum, isRegistered).then(result =>{
                                            if(result === '0'){
                                                console.log('환불이 성공적으로 처리되었습니다.');
                                                const td = button.closest('td'); // 클릭된 버튼이 포함된 td 요소를 찾음
                                                if (isRegistered === '1') {
                                                    td.innerHTML = '승인완료'; // 승인 버튼 클릭 시 '승인완료' 텍스트로 변경
                                                } else if (isRegistered === '2') {
                                                    td.innerHTML = '승인거절'; // 거절 버튼 클릭 시 '승인거절' 텍스트로 변경
                                                }
                                            }
                                        })
                                    }else {
                                        // 처리에 실패한 경우
                                        alert('처리에 실패했습니다.');
                                    }

                                }catch (error){
                                    console.log(error);
                                }
                            }

                        } catch (error) {
                            console.log(error);
                        }
                    }catch (error){
                        console.log(error);
                    }
                }



            });
        });
    });


    // async function takeUserInfo(registerNum){
    //     try {
    //         const resp = await fetch('/payment/takeUserInfo/'+registerNum, {
    //             method: 'post',
    //             headers: {
    //                 'content-type':'application/json; charset=utf-8'
    //             }
    //         });
    //         const result = await resp.json();
    //         return result;
    //     }catch (error){
    //         console.log(error);
    //     }
    // }
    //
    //
    // document.getElementById('refund').addEventListener('click', async () => {
    //
    //     try {
    //         const result = await getToken();
    //         const accessToken = result.response.access_token;
    //         console.log(accessToken);
    //
    //         if(accessToken != null){
    //             try {
    //                 const cancelresult = await cancelMoney(accessToken);
    //
    //                 if (cancelresult.message === 'success') {
    //                     alert('환불이 성공적으로 처리되었습니다.');
    //                 }
    //
    //             }catch (error){
    //                 console.log(error);
    //             }
    //         }
    //
    //     } catch (error) {
    //         console.log(error);
    //     }
    // })

    async function alterRegisterInfo(registerNum, isRegistered){
        try {
            const resp = await fetch('/payment/alterRegisterInfo/'+registerNum+'/'+isRegistered, {
                method: 'post',
                headers: {
                    'content-type':'application/json; charset=utf-8'
                }
            });
            const result = await resp.text();
            return result;
        }catch (error){
            console.log(error);
        }
    }

    async function getToken(){
        try {
            const resp = await fetch('/payment/getToken', {
                method: 'POST'
            });
            const result = await resp.json();
            return result;

        } catch (error){
            console.log(error);
        }
    }

    async function cancelMoney(registerNum, accessToken){
        try {
            const resp = await fetch('/payment/cancel/'+registerNum+'/'+accessToken, {
                method: 'POST',
                headers: {
                    'content-type':'application/json; charset=utf-8'
                }
            });
            const result = await resp.json();
            return result;

        }catch (error){
            console.log(error);
        }
    }

    // document.getElementById('refund').addEventListener('click', async () => {
    //
    //     try {
    //         const result = await getToken();
    //         const accessToken = result.response.access_token;
    //         console.log(accessToken);
    //
    //         if(accessToken != null){
    //             try {
    //                 const cancelresult = await cancelMoney(accessToken);
    //
    //                 if (cancelresult.message === 'success') {
    //                     alert('환불이 성공적으로 처리되었습니다.');
    //                 }
    //
    //             }catch (error){
    //                 console.log(error);
    //             }
    //         }
    //
    //     } catch (error) {
    //         console.log(error);
    //     }
    // })
    //
    // async function getToken(){
    //     try {
    //         const resp = await fetch('/payment/getToken', {
    //             method: 'POST'
    //         });
    //         const result = await resp.json();
    //         return result;
    //
    //     } catch (error){
    //         console.log(error);
    //     }
    // }
    //
    // async function cancelMoney(accessToken){
    //     try {
    //         const resp = await fetch('/payment/cancel/'+accessToken, {
    //             method: 'POST',
    //             headers: {
    //                 'content-type':'application/json; charset=utf-8'
    //             }
    //         });
    //         const result = await resp.json();
    //         return result;
    //
    //     }catch (error){
    //         console.log(error);
    //     }
    // }


</script>


<!--<script th:src="@{/js/admin/adminIndex.js}"></script>-->
</body>

</html>