<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- PortOne SDK -->
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <meta charset="UTF-8" />
    <title>Sample Payment</title>
</head>
<body>

<div class="payment">

    <div class="container">
        <div class="title">Payment</div>
        <br>
        <div class="payment-details">
            <!-- 여기에서 rvo 객체의 속성을 사용하여 필요한 정보를 표시 -->
            <p>대표자명: <span th:text="${rvo.name}"></span></p>
            <p>이메일: <span th:text="${rvo.email}"></span></p>
            <p>회사명: <span th:text="${rvo.company}"></span></p>
            <p>점포명: <span th:text="${rvo.storeName}"></span></p>
            <p>주소: <span th:text="${rvo.storeAddress}"></span></p>
            <p>유형: <span th:text="${rvo.storeType}"></span></p>
            <p>점주 번호: <span th:text="${rvo.ownerNum}"></span></p>
            <p>점포 번호: <span th:text="${rvo.storeNum}"></span></p>
            <p>구독 상품: <span th:text="${rvo.subscribe}"></span></p>
            <p>승인 여부: <span th:text="${rvo.isRegistered}"></span></p>
            <!-- 이하 필요한 정보들을 추가로 표시 -->


            <!-- 결제하기 버튼 생성 -->
            <button onclick="requestPay()">결제하기</button>

        </div>
    </div>
</div>
<script type="text/javascript">
    let nameVal = `[[${rvo.name}]]`;
    let emailVal = `[[${rvo.email}]]`;
    let companyVal = `[[${rvo.company}]]`;
    let storeNameVal = `[[${rvo.storeName}]]`;
    let storeAddressVal = `[[${rvo.storeAddress}]]`;
    let storeTypeVal = `[[${rvo.storeType}]]`;
    let ownerNumVal = `[[${rvo.ownerNum}]]`;
    let storeNumVal = `[[${rvo.storeNum}]]`;
    let subscribeVal = `[[${rvo.subscribe}]]`;
    let isRegisteredVal = `[[${rvo.isRegistered}]]`;

    console.log(nameVal);
    console.log(emailVal);
    console.log(companyVal);
    console.log(storeNameVal);
    console.log(storeAddressVal);
    console.log(storeTypeVal);
    console.log(ownerNumVal);
    console.log(storeNumVal);
    console.log(subscribeVal);
    console.log(isRegisteredVal);

    var IMP = window.IMP;
    IMP.init("imp88712442");
    let merchant_uid = "bizqr" + new Date().getTime();
    let itemNameVal = subscribeVal === 'monthly' ? '1개월' : '1년';
    let amountVal = subscribeVal === 'monthly' ? 100 : 1000;

    function requestPay() {
        IMP.request_pay(
            {
                pg: "html5_inicis.INIpayTest",
                pay_method: "card",
                merchant_uid: merchant_uid,
                name: itemNameVal,
                amount: amountVal,
                buyer_email: emailVal,
                buyer_name: nameVal,
                buyer_tel: ownerNumVal,
                buyer_addr: storeAddressVal,
                buyer_postcode: "null",
            },
            function (rsp) {
                // callback
                //rsp.imp_uid 값으로 결제 단건조회 API를 호출하여 결제결과를 판단합니다.
                if(rsp.success){
                    alert('결제 완료. 결제 내역' + rsp.imp_uid);

                    let data = {
                        impUid: rsp.imp_uid,
                        merchantUid: merchant_uid,
                        buyerEmail: emailVal,
                        buyerName: nameVal,
                        buyerCompany: companyVal,
                        buyerAddress: storeAddressVal,
                        buyerOwnerTelNum: ownerNumVal,
                        buyerStoreTelNum: storeNumVal,
                        itemName: itemNameVal,
                        itemAmount: amountVal
                    };

                    postStorePaySuccess(data);

                }else{
                    alert('실패' + rsp.error_msg);
                }
            }
        );
    }

    function postStorePaySuccess(data){
        try {
            const url = "/payment/storePay/success";
            const config = {
                method: 'post',
                headers: {
                    'content-type':'application/json; charset=utf-8'
                },
                body: JSON.stringify(data)
            };

            fetch(url, config)
                .catch(error => {
                    console.log("error");
                })
        }catch (error){
            console.log(error);
        }
    }

</script>
</body>
</html>