@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


table{
    margin-bottom: 100px;
}

.email-small{
    font-size: 10px;
    color: #9f9f9f;
}

.form-table {
    width: 100%;
    border-collapse: collapse;
}

.h-td{
    background-color: rgba(211, 211, 211, 0.19);
    width: 200px;
    font-family: 'SUITE-Regular';
}

td > input[type="text"]{
    width: 300px;
    height: 30px;
    border: 1px solid #b1b1b1;
    padding-left: 6px;
    font-family: 'SUITE-Regular';
}

/* 기본 스타일 제거 */
input:focus {
    outline: none;
}


td > input[type="email"]{
    width: 300px;
    height: 30px;
    border: 1px solid transparent;
}


/* 아래에만 선 추가 */
.container td {
    border-bottom: 1px solid rgba(131, 131, 131, 0.18);
    padding: 20px;
}
table{
    width: 1150px;
}

hr{
    width: 1150px;
}

.title{
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-weight: bold;
    font-family: 'SUITE-Regular';
}

/* 라디오 버튼 사이의 간격 조정 */
input[type="radio"] + span {
    margin-right: 8px; /* 라디오 버튼과 텍스트 사이의 간격을 조정합니다. */
}


.pi{
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: 'SUITE-Regular';
}

.p1 {
    text-align: right;
    font-size: 10px;
    margin-bottom: 10px;
    margin-right: 187px;
    font-family: 'SUITE-Regular';
}

.s1 {
    color: red;
    font-weight: bold;
    font-family: 'SUITE-Regular';
}

.regBtn-store{
    border: 1px solid #000000;
    width: 300px;
    height: 50px;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    font-family: 'SUITE-Regular';
}
















































/*.register{*/
/*    display: flex;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    padding: 10px;*/
/*}*/
/*.container{*/
/*    max-width: 700px;*/
/*    width: 100%;*/
/*    background:  #fff;*/
/*    padding: 25px 30px;*/
/*    border-radius:5px;*/
/*}*/

/*.container .title{*/
/*    font-size: 25px;*/
/*    font-weight: 500;*/
/*    position: relative;*/

/*}*/

/*.container .title::before{*/
/*    content: '';*/
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    height: 3px;*/
/*    width: 30px;*/
/*    background: linear-gradient(135deg, #71b7e6, #9b59b6);*/
/*}*/

/*.container form .user-details{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-between;*/
/*}*/

/*form .user-details .input-box{*/
/*    margin-bottom: 15px;*/
/*    width: calc(100% / 2 - 20px);*/
/*}*/

/*form .user-details .input-box:last-child{*/
/*    margin-bottom: 15px;*/
/*    width: 100%;*/
/*}*/

/*.user-details .input-box .details{*/
/*    display:block;*/
/*    font-weight: 500;*/
/*    margin-bottom: 5px;*/
/*}*/

/*.user-details .input-box input{*/
/*    height: 45px;*/
/*    width: 100%;*/
/*    outline: none;*/
/*    border-radius: 5px;*/
/*    border: 1px solid #ccc;*/
/*    padding-left:  15px;*/
/*    font-size: 16px;*/
/*    border-bottom-width: 2px;*/
/*    transition: all 0.3s ease;*/
/*}*/

/*.user-details .input-box input:focus,*/
/*.user-details .input-box input:valid{*/
/*    border-color: #9b59b6;*/
/*}*/

/*form .store-details .store-title{*/
/*    font-size: 20px;*/
/*    font-weight: 500;*/
/*}*/


/*form .store-details .category{*/
/*    display: flex;*/
/*    width: 80%;*/
/*    margin: 14px 0;*/
/*    justify-content: space-between;*/
/*}*/

/*.store-details .category label{*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/
/*.store-details .category .dot{*/
/*    height: 18px;*/
/*    width: 18px;*/
/*    background: #d9d9d9;*/
/*    border-radius: 50%;*/
/*    margin-right: 10px;*/
/*    border: 5px solid transparent;;*/
/*}*/

/*#dot-1:checked ~ .category label .one,*/
/*#dot-2:checked ~ .category label .two,*/
/*#dot-3:checked ~ .category label .three,*/
/*#dot-4:checked ~ .category label .four,*/
/*#payment1:checked ~ .category label .month,*/
/*#payment2:checked ~ .category label .year{*/
/*    border-color:#d9d9d9;*/
/*    background: #9b59b6;*/
/*}*/

/*form input[type="radio"]{*/
/*    display: none;*/
/*}*/

/*form .button{*/
/*    height: 45px;*/
/*    margin: 45px 0;*/
/*}*/

/*form .button input{*/
/*    height: 100%;*/
/*}*/
/*form .button input{*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    outline: none;*/
/*    color: #fff;*/
/*    border: none;*/
/*    font-size: 18px;*/
/*    font-weight: 500;*/
/*    border-radius: 5px;*/
/*    letter-spacing: 1px;*/
/*    background: linear-gradient(135deg, #71b7e6, #9b59b6);*/
/*    */
/*}*/

/*form .button input:hover{*/
/*    background: linear-gradient(-135deg, #71b7e6, #9b59b6);*/
/*}*/

/*@media(max-width: 584px){*/
/*.container{*/
/*    max-width: 100%;*/
/*}*/
/*form .user-details .input-box{*/
/*    margin-bottom:  15px;*/
/*    width: 100%;*/
/*}*/
/*form .store-details .category{*/
/*    width: 100%;*/
/*}*/
/*.container form .user-details{*/
/*    max-height:  300px;*/
/*    overflow-y: scroll;*/
/*}*/
/*.user-details::-webkit-scrollbar{*/
/*    width: 0;*/
/*}*/
/*}*/
