@media (max-width: 767px){

    /* 헤더 */
    header{
        width: 100%;
        height: auto;
        background-color: #6666FF;
        background: linear-gradient(to right, #6666FF, #9999FF);
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
    }

    /* 상호명 */
    .company-name{
        font-size: 40px;
        width: 70%;
        text-align: center;
        color: white;
        margin-left: 30%;
        margin-right: 20%;
    }

    /* 호출 버튼 및 리스트 컨테이너 */
    .tool-container{
        width: 30%;
        display: flex;
    }
    /* 헤더 */
}