<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <head>
            <link rel="stylesheet" href="/css/board/boardDetail.css" />
            <link rel="stylesheet" href="/css/board/boardComment.css" />
            <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
            <style>
                .toastui-editor-toolbar {
                    width: 100%;
                }
                .toastui-editor-defaultUI{
                    width: 60%;
                    margin-top: 50px;
                }
                .ProseMirror {
                    -webkit-user-modify: read-only;
                }
            </style>

        </head>
        <body>
        <section class="container">
            <header id="detailHeader">BIZQR NOTICE PAGE.[[${bdto.bvo.bno}]]</header>
            <p class="detailPtag">BizQR 어쩌고 저쩌고 이러쿵 저러쿵 </p>
            <form action="/board/detail" method="post" id="modForm" enctype="multipart/form-data">

                <div id="inputBoxAll">
                <div class="input-box">
                    <label for="bno" class="input-label">BNO</label>
                    <input type="text" class="input1221" id="bno" name="bno" th:value="${bdto.bvo.bno}" readonly/>
                </div>

                <div class="input-box">
                    <label for="bno" class="input-label">DATE</label>
                    <input type="text" class="input1221" id="modAt" name="modAt" th:value="${bdto.bvo.modAt}" readonly/>
                </div>

                <div class="input-box">
                    <label for="bno" class="input-label">TITLE</label>
                    <input type="text" class="input1221" id="title" name="title" th:value="${bdto.bvo.title}" readonly/>
                </div>

                <div class="input-box">
                    <label for="bno" class="input-label">E-MAIL</label>
                    <input type="text" class="input1221" id="email" name="email" th:value="${bdto.bvo.email}" readonly/>
                </div>

                <div class="input-box">
                    <label for="bno" class="input-label">NICKNAME</label>
                    <input type="text" class="input1221" id="nickName" name="nickName" th:value="${bdto.bvo.nickName}" readonly/>
                </div>
                </div>

                <script src="https://uicdn.toast.com/editor/3.0.2/toastui-editor-all.min.js"></script>
                <script th:inline="javascript">
                    const content=[[${bdto.bvo.content}]];
                </script>

                <div id="viewer" ></div>

                <div class="btnAll">

                    <a th:href="@{/board/list}">
                <button type="button" id="list+Btn">List</button>
                    </a>

                <a th:href="@{/board/modify(bno=${bdto.bvo.bno})}">
                    <button type="button" id="modBtn">Modify</button>
                </a>

                    <a th:href="@{/board/remove(bno=${bdto.bvo.bno})}">
                <button type="button" id="delBtn">Remove</button>
                    </a>
                </div>

            </form>

            <form action="/board/remove" method="post" id="delForm" style="display:none;">
                <input type="hidden" name="bno" th:value="${bdto.bvo.bno}">
            </form>
        </section>

        <!-- 댓글 등록라인 -->
        <div class="container-sm">
            <div class="input-group mb-3">
                <span class="input-group-text" id="cmtWriter" th:value="${bdto.bvo.nickName}"></span>
                <input type="text" class="form-control custom-input" id="cmtText" placeholder="Test add Comment.." aria-label="Username" aria-describedby="basic-addon1">
                <button class="btn btn-success" id="cmtPostBtn" type="button">Post</button>
            </div>
        </div>

        <!-- 댓글 표시라인 -->
        <ul class="list-group list-group-flush" id="cmtListArea">
            <li class="list-group-item">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Writer</div>
                    Content for Comment
                </div>
                <span class="badge bg-dark rounded-pill">modAt</span>
            </li>
        </ul>

        <!-- 댓글 더보기 버튼 -->
        <div>
            <button type="button" id="moreBtn" data-page="1" class="btn btn-success" style="visibility: hidden">More+</button>
        </div>
        </div>

        </body>
        <script src="/js/boardRegister.js"></script>
        <script src="/js/boardDetail.js"></script>
        <script src="/js/boardComment.js"></script>
        <script th:inline="javascript">
            const bnoVal=[[${bdto.bvo.bno}]];
            console.log(bnoVal);
        </script>
        <script type="text/javascript">
            spreadCommentList(bnoVal);
        </script>
    </th:block>
</th:block>
</html>