<meta charset="UTF-8">
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <link rel="stylesheet" th:href="@{/css/board/noticeList.css}">
        <link rel="stylesheet" th:href="@{/css/board/searchBar.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="/js/board/boardList.js"></script>


        <!-- search bar -->
        <div class="container">
            <section class="image-generator">
                <div class="content">
                    <form action="/board/list" class="generate-form">
                        <input class="prompt-input" type="text" placeholder="검색어를 입력해주세요." name="keyword" required>
                        <div class="controls">
                            <select class="img-quantity" name="type" aria-label="Small select example">
                                <option th:selected="${ph.pgvo.type == null? true:false}" st>선택</option>
                                <option th:value="tecn" th:selected="${ph.pgvo.type == 'tecn'? true:false}">전체</option>
                                <option th:value="t" th:selected="${ph.pgvo.type == 't'? true:false}">제목</option>
                                <option th:value="e" th:selected="${ph.pgvo.type == 'e'? true:false}">작성자</option>
                                <option th:value="c" th:selected="${ph.pgvo.type == 'c'? true:false}">게시글</option>
                                <option th:value="n" th:selected="${ph.pgvo.type == 'n'? true:false}">닉네임</option>
                            </select>
                            <button type="submit" class="generate-btn">search</button>
                        </div>
                    </form>
                </div>
            </section>


            <!-- menu btn -->
            <div class="fab-wrapper">
                <input id="fabCheckbox" type="checkbox" class="fab-checkbox" />
                <label class="fab" for="fabCheckbox">
                    <span class="fab-dots fab-dots-1"></span>
                    <span class="fab-dots fab-dots-2"></span>
                    <span class="fab-dots fab-dots-3"></span>
                </label>
                <div class="fab-wheel">
                    <a class="fab-action fab-action-1" >
                        <i class="fas fa-question"></i>
                    </a>
                    <a class="fab-action fab-action-2" >
                        <i class="fas fa-book"></i>
                    </a>
                    <a class="fab-action fab-action-3" href="/board/register">
                        <i class="fas fa-address-book"></i>
                    </a>
                    <a class="fab-action fab-action-4" href="/board/service">
                        <i class="fas fa-info"></i>
                    </a>
                </div>
            </div>


            <!-- card section -->
            <div class="listContainer">
                <div class="image-container" th:each="bvo:${list}">
                    <div class="card">
                        <a th:if="${bvo.bno != null}" th:href="@{'/board/detail?bno=' + ${bvo.bno}}">
                            <div class="card-header">
                                <img url="C:\_bizqr_fileUpload\tui-editor\" alt="image" />
                            </div>
                            <div class="card-body">
                                <span class="tag tag-teal">진행</span>
                                <h4 class="h4_title" th:text="${bvo.title}">
                                </h4>
                                <div class="user">
                                    <div class="user-info">
                                        <small th:text="${bvo.modAt}"></small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>


            <!-- Pagination line -->
            <br>
            <ul class="pagination modal-2">
                <li th:if="${ph.prev}" class="page-item">
                    <a class="page-link" th:href="@{/board/list(pageNo=${ph.startPage-1},qty=${ph.pgvo.qty},type=${ph.pgvo.type},keyword=${ph.pgvo.keyword})}" aria-label="Previous">
                        <span aria-hidden="true">prev</span>
                    </a>
                </li>
                <th:block th:each="i: ${#numbers.sequence(ph.startPage,ph.endPage)}">
                    <li class="page-item" th:classappend="${ph.pgvo.pageNo == i ? 'active' : ''}" aria-current="page">
                        <a class="page-link" th:href="@{/board/list(pageNo=${i},qty=${ph.pgvo.qty},type=${ph.pgvo.type},keyword=${ph.pgvo.keyword})}" th:text="${i}"></a>
                    </li>
                    <li th:if="${ph.next}" class="page-item">
                        <a class="page-link" th:href="@{/board/list(pageNo=${ph.endPage+1},qty=${ph.pgvo.qty},type=${ph.pgvo.type},keyword=${ph.pgvo.keyword})}" aria-label="Next">
                            <span aria-hidden="true">Next</span>
                        </a>
                    </li>
                </th:block>
            </ul>
        </div>
    </th:block>
</th:block>
</html>
