<meta charset="UTF-8" xmlns="http://www.w3.org/1999/html">
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <link rel="stylesheet" href="/css/board/boardModify.css" />
        <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
        <section class="container">
            <header id="detailHeader">BIZQR NOTICE PAGE.[[${bdto.bvo.bno}]]</header>
            <p class="detailPtag">BizQR 어쩌고 저쩌고 이러쿵 저러쿵 </p>
            <form action="/board/modify" method="post" id="modForm" onsubmit="updatePost(event)">

                <div id="inputBoxAll">
                    <div class="input-box">
                        <label for="bno" class="input-label">BNO</label>
                        <input type="text" class="input1221" id="bno" name="bno" th:value="${bdto.bvo.bno}" readonly/>
                    </div>

                    <div class="input-box">
                        <label for="bno" class="input-label">DATE</label>
                        <input type="text" class="input1221" id="modAt" name="modAt" th:value="${bdto.bvo.modAt}" readonly/>
                    </div>

                    <div class="input-box">
                        <label for="bno" class="input-label">TITLE</label>
                        <input type="text" class="input1221" id="title" name="title" th:value="${bdto.bvo.title}"/>
                    </div>

                    <div class="input-box">
                        <label for="bno" class="input-label">E-MAIL</label>
                        <input type="text" class="input1221" id="email" name="email" th:value="${bdto.bvo.email}" readonly/>
                    </div>

                    <div class="input-box">
                        <label for="bno" class="input-label">NICKNAME</label>
                        <input type="text" class="input1221" id="nickName" name="nickName" th:value="${bdto.bvo.nickName}" readonly/>
                    </div>
                </div>

                <script src="https://uicdn.toast.com/editor/3.0.2/toastui-editor-all.min.js"></script>
                <script th:inline="javascript">
                    let content=[[${bdto.bvo.content}]];
                </script>

                <div class="form-group">
                    <div id="editor" name="editor"></div>
                    <input type="hidden" id="toastdata" name="content" />
                </div>

                <div class="btnAll">
                   <button type="submit" id="submitBtn">등록</button>

            </form>

            <form action="/board/remove" method="post" id="delForm" style="display:none;">
                <input type="hidden" name="bno" th:value="${bdto.bvo.bno}">
            </form>
       </div>
        </section>

        <script type="text/javascript" src = "/js/boardModify.js"></script>
        <script type="text/javascript" src = "/js/textEditor.js"></script>
        </body>
    </th:block>
</th:block>
</html>
