<meta charset="UTF-8">
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <head>
        <link rel="stylesheet" href="/css/board/boardRegister.css" />
        <link rel="stylesheet" href="http://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
            <style>
                #editor{

                }
            </style>
        </head>
<body>
        <section class="container">
            <form class="form" method="post" onsubmit="savePost(event)">

                <header class="headerReg">Register page</header>
                <p class="ptagReg">sub</p>

                <div class="registerContainer">

                <div class="wrapper">

                    <div class="form-group_mt-3">
                        <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>

                        <input type="text" class="form-control" id="email" name="email" placeholder="E-mail" required>

                        <input type="text" class="form-control" id="nickName" name="nickName" placeholder="NickName" required>
                    </div>

              </div>

                  <!-- text edit: content -->
                    <script th:inline="javascript">
                        let content="";
                    </script>
            <div class="form-group">
                <div id="editor" name="editor"></div>
                <input type="hidden" id="toastdata" name="content" />
            </div>
                </div>

                <div class="parentBtn">
                <button type="submit" class="submit_btn" id="submitPost">Submit
                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                </button>
                <a th:href="@{/board/list}"><button type="button" class="btn-gradient-2">Cancel</button></a>
                </div>
            </form>
        </section>
        </body>
        <script type="text/javascript" src="/js/boardRegister.js"></script>
        <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
        <script type="text/javascript" src = "/js/textEditor.js"></script>
    </th:block>
</th:block>
</html>