<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <link rel="stylesheet" th:href="@{/css/loginstyle.css}">
    <body>
    <header><h3 id="logIntoBizQR">Log into BizQR</h3></header>

    <form action="/user/login" method="post" class="login-form">

        <div id="inputDivContainer">
    <div class="input-container">
      <input id="email" type="email" name="email" placeholder="name@example@com">
        <label for="email">EMAIL ADDRESS</label>
    </div>

        <div class="input-container">
            <input id="pwd" type="password" name="pwd" placeholder="Password">
            <label for="pwd">PASSWORD</label>
         </div>

            <button type="submit" class="sBtn">LOG IN</button>
        </div>


        <div class="image-row">
            <a href="/oauth2/authorization/google">
                <i><button type="button" class="imageBtn1">Continue with Google</button></i>
            </a>
            <a href="/oauth2/authorization/naver">
                <i><button type="button" class="imageBtn2">Continue with Naver</button></i>
            </a>
        </div>

        <div class="SecureLogin">
        <a href="#">CAN'T LOG IN?</a>
        <p>Secure Login with reCAPTCHA subject to Google<br>
            <small style="text-decoration: underline;">Terms & Privacy</small>
        </p>
        </div>

<!--            <input type="text" name="email" placeholder="UserEmail">
            <input type="password" name="pwd" placeholder="Password">
            <a href="#">Forgot your password?</a>
            <button type="submit">LOGIN</button>
            <div class="image-row">
                <a href="/oauth2/authorization/google"><img src="/asset/google_login_btn.png" height="40" width="185"/></a>
                <a href="/oauth2/authorization/naver"><img src="/asset/naver_login_btn.png" height="40" width="185"/></a>
            </div>
        </form>-->


</form>
</body>
    </th:block>
</th:block>