<html lang="kor" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <link rel="stylesheet" th:href="@{/css/loginstyle.css}">


    <body>

    <div class="login-card">
        <h2>Login</h2>
        <h3>Enter your credentials</h3>

        <form action="/user/login" method="post" class="login-form" >
            <input type="text" name="email" placeholder="UserEmail">
            <input type="password" name="pwd" placeholder="Password">
            <a href="#">Forgot your password?</a>
            <button type="submit">LOGIN</button>
            <div class="image-row">
                <a href="/oauth2/authorization/google"><img src="/asset/google_login_btn.png" height="40" width="185"/></a>
                <a href="/oauth2/authorization/naver"><img src="/asset/naver_login_btn.png" height="40" width="185"/></a>
            </div>
        </form>
    </div>



</body>
    </th:block>
</th:block>